<IfModule mod_rewrite.c>
    RewriteEngine On

    # 1. Forco ridrejtimin nga HTTP në HTTPS
    RewriteCond %{HTTPS} off
    RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

    # 2. Rregullo problemin ku Apache fshin header-in "Authorization"
    RewriteCond %{HTTP:Authorization} ^(.*)
    RewriteRule .* - [e=HTTP_AUTHORIZATION:%1]
</IfModule>
